<% @entries.each do |entry| %>
	<ul>
		<li><%= link_to(entry.name, entry)%></li>
		<li><%= link_to(entry.entry, entry)%></li>
		<li><%= link_to(entry.location, entry)%></li>
	</ul>
<% end %>

<h3>Entries</h3>

<% if @entries.present? %>
 <ul>
	<% @entries.each do |entry| %>
	  <li><%= link_to entry.entry, entry %></li>
	<% end %>
 </ul>
<% else %>
	<p>There are no entries to display.</p>
<% end %>