    <div class="page-heading">
        <h1>Travel Trax</h1>
        <hr class="small">
    </div>

    <!-- Main Content -->
    <div class="container">
        <div class="row col-md-10">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Do you ever find it hard to keep track of your travels while you're exploring the world? </p>
                <p>Travel Trax is a web application to help you keep track of your travels, whether it be a daily adventure or a trip across the world. Add your country, add as many blog posts as you like and don't forget to locate them.</p>
                <p>The new way to keep track of your travels in the one place.</p>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; TravelTrax 2014</p>
                </div>
            </div>
        </div>
    </footer>