<!--   <div class="field">
    <%#= f.label :country %>
    <%#= f.country_select :country, prompt: 'Please select a country' %>
  </div> -->


<%= form_for @country do |f| %>
  <p>
    <%= f.label :country, prompt: 'Please select a country' %>
    <%= f.text_field :country %>
  </p>

    <label></label>
  <%= f.submit %>
<% end %> 