<!-- <div class="jumbotron">
<#% @countries.each do |country| %>
	<ul>
		<!-- <li><%#= image_tag(country.image, :class => 'thumbnail') %></li> -->
		<!-- <li><%#= link_to(country.country, country)%></li>
	</ul>
<%# end %>
</div> -->
<div class="jumbotron">
	<% @countries.each do |country| %>
		<h3><%= link_to(country.country, country)%></h3>
		<hr class="featurette-divider">
	<% end %>
</div>

