@import "bootstrap-sprockets";
@import "bootstrap";


@import url(http://fonts.googleapis.com/css?family=Kristi);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  height: 40px;
  border-radius: 4px;
}


/*

 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 
*/

/*html {
  background: url(Map.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

html.pages-home, .sessions-new, .users-new {
  background: url(home-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgb(239, 239, 239);
}

.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1 {
  color: #DAD6D6;
  font-family: Open Sans Condensed;
  padding:0;
}

.col-md-10 {
  width: none;
  padding: 0;
}

.page-heading {
  color: #DAD6D6;
}

.copyright.text-muted {
  color: #DAD6D6;
}

body {
  background-color: transparent;
}

.navbar.navbar-default.navbar-static-top {
  background-color: rgba(218, 214, 214, 0.7);
  color: #DAD6D6;
  border: none;
  letter-spacing: 1px;
  font-family: Open Sans Condensed;
}

h2 {
  text-align: left;
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 300;
  line-height: 1.3;
  color: inherit;
}

h1 {
  font-size: 70px;
  margin: 0;
}

p {
  margin: 0 0 10px;
  font-size: 18px;
}

.jumbotron p {
  font-size: 15px;
}

header h1 a {
  font-size: 40px;
}

.form-control {
  padding: 14px;
  margin-top: 0px;
  height: 45px;
  font-size: 20px;
}

.btn-default {
  margin-top: 10px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 25px;
  margin-bottom: 40px;
}

header li a {
  text-align: left;
}

a {
  color: #636E77;
  text-decoration: none;
}

li a {
  font-size: 18px;
}

ul li {
  list-style: none;
  font-size: 18px;
}

.field_with_errors {
  display: inline;
  border: 1px solid red;
}

label {
  padding-top: 10px;
  min-width: 200px;
  font-size: 16px;
}

.row col-md-10{
  list-style:none;
  padding: 0;
}

.navbar {
   border-radius: 0px;
}

.jumbotron{
  opacity: 0.95;
  margin-right: -110px;
  background-color: rgba(255, 255, 255, 0.62);
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #629CC0;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #629CC0;
  background-color: transparent;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 400;
  margin-bottom: 15px;
}

.btn-default {
  color: #fff;
  background-color: #3C3E3F;
/* border-color: #357ebd; */
}

.thumbnail {
display: block;
padding: 8px;
margin-bottom: 20px;
line-height: 1.428571429;
background-color: #fff;
border: 1px solid #ddd;
border-radius: 6px;
-webkit-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
text-align: center;
opacity: 0.8;
margin-top: 18px;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  margin:auto;
}

#map_wrapper {
    height: 400px;
}

#map_canvas {
    width: 100%;
    height: 100%;
    text-align: center;
}

.page-heading h1 {
  font-size: 140px;
  font-family: Kristi;
}

/*LOGIN AND SIGN UP*/

.login_form {
  border: rgb(203, 200, 200) 1px solid;
  text-align: center;
  padding: 10px 50px 10px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  background-color: rgba(218, 214, 214, 0.7);
}

.signupform {
  border: rgb(203, 200, 200) 1px solid;
  text-align: center;
  padding: 10px 50px 10px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  background-color: rgba(218, 214, 214, 0.7);
}

.signupform h2 {
  text-align: center;
}

.signupform input.btn.btn-default {
  margin-left: 83px;
}

.signuplink a {
  color: white;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: none; 
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}