body {
  background: url('background.jpg');
}

.sign {
  text-align: 
}

.container {
  background-color: rgba(255, 255, 255, 0.5);
  /*opacity: 0.9;*/
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
}

body {
  margin: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  background-color: white;
  font-size: 20px;
  positon: absolute;
}

nav li {
  display: inline-block;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

nav a {
  color: grey;
}

.field_with_errors {
  display: inline;
}

label {
  /*display: inline-block;*/
  min-width: 200px;
  text-align: left;
  /*padding: 20px;*/
  background-color: rgba(255, 255, 255, 0.5);
}

