body {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  color: blue;
}

.container {
  max-width: 960px;
  margin: auto;
}

.field_with_errors {
  display: inline;
}

label {
  display: inline-block;
  min-width: 150px;
  text-align: right;
}