<!-- <%#= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %>

<h3>Nearby locations</h3>
<ul>
  <%# for location in @location.nearbys(10) %>
    <li><%#= link_to location.address, location %> (<%#= location.distance.round(2) %> miles)</li>
  <%# end %>
</ul> -->

<!-- <h2>You searched for: <%#= params[:address] %></h2>

<p>State: <%#= @result.state %></p>
<p>Country: <%#= @result.country %></p>

<p>Latitude, longitude: (<%#= @result.latitude %>, <%#= @result.longitude %>)</p>
 -->
<!-- <iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyARQMBBnHx2oPPKhAc-p6UQmf-V-8wJZow">
</iframe> -->